body {
    background: linear-gradient(90deg, purple, #6398a2);
}

h1 {
    color: white;
    font-size: 2em;
    text-align: center;
    text-shadow: 2px 2px 4px #000000;
}

.invisible {
    display: none;
}

h2 {
    color: white;
    font-size: 1.5em;
    text-align: center;
    text-shadow: 2px 2px 4px #000000;
}

.btn {
    background-color: #4CAF50 !important;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 16px;
    margin: auto;
    cursor: pointer;
    border-radius: 8px;
}

.dice-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 20px 0;

    .dice {
        margin: 5px;
        background-color: teal;
        height: 200px;
        width: 200px;
        position: relative;

        .dot {
            position: absolute;
            height: 45px;
            width: 45px;
            background-color: white;
            border-radius: 50%;
        }

        .dot--1 {
            top: 40%;
            left: 40%;

            &.rollSix {
                top: 40%;
                left: 10%;
            }

        }

        .dot--2 {
            top: 10%;
            left: 10%;
        }

        .dot--3 {
            top: 70%;
            left: 70%;
        }

        .dot--4 {
            top: 10%;
            left: 70%;
        }

        .dot--5 {
            top: 70%;
            left: 10%;
        }

        .dot--6 {
            top: 40%;
            left: 70%;
        }
    }
}